{erl_opts, [debug_info, {fail_on_warning, false}]}.

{require_otp_vsn, "R14|R15"}.

{deps_dir, ["deps"]}.

{deps, [
   {exmpp, ".*", {git, "git://github.com/smarkets/exmpp.git", {branch, "develop"}}},
   {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
  ]}.

{sub_dirs, [
  "rel"
]}.
