{sys, [
       {lib_dirs, ["../../", "../deps"]},
       {rel, "unimate", "1",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         public_key,
         ssl,
         exmpp,
         unimate
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "unimate"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, exmpp, [{incl_cond, include}]},
       {app, unimate, [{incl_cond, include}]}
      ]}.

{target_dir, "unimate"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/unimate", "bin/unimate"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"}
           ]}.
