%%
%% etc/app.config
%%

{jabber_port, 5222}.
{jabber_server, "\"smarkets.com\""}.
{jabber_user, "\"unimate\""}.
{jabber_resource, "\"2\""}.
{jabber_password, "\"CHANGEME\""}.
{conference_server, "\"conference.smarkets.com\""}.
{broadcast_room, "\"smarkets\""}.
{rooms, "[\"smarkets\", \"staff\"]"}.
{listen_ip, "\"127.0.0.1\""}.
{listen_port, 12344}.

%%
%% etc/vm.args
%%
%%

{node, "unimate"}.
{cookie, "unimateLOL"}.
