[
  %% SASL config
  {sasl, [
      {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
      {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
      {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},
  %% unimate config
  {unimate, [
    {jabber_port, 5222},
    {jabber_server, "derbrain.com"},
    {jabber_user, "echo"},
    {jabber_password, "CHANGEME"},
    {conference_server, "conference.derbrain.com"},
    {broadcast_room, "test"},
    {rooms, ["test", "test2"]},
    {listen_ip, "127.0.0.1"},
    {listen_port, 10101}
    ]}
].